/*
    Mines Blue #071D49
    Mines Gold #B3A369
*/


.dropdown-content
{
    display: none;
    position: absolute;
    text-align: left;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content
{
    background-color: #B3A369;
    display: block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: -5px;
}

.dropdown:hover
{
    background-color: #071D49;
    color: #ffffff;
}

.minesGold
{
    background-color: #B3A369;
}
.minesBlue
{
    background-color: #071D49;
}
.centerLR
{
    text-align: center;
}

.dropdown
{
    position: relative;
    display: inline-block;
    cursor: pointer; /*overrides php text thing*/
    padding: 10px 5px;
}
.dropdown-content a
{
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
}
.dropdown-content a:hover
{
    background-color: #071D49;
    color: #ffffff;
}
